@import "./pages/settings";
@import "./layout/header";
@import "./layout/footer";
@import "./pages/home";
@import "./pages/about";
@import "./pages/contact";
@import "./layout/nav";
@import "./components/buttun";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}



body {

    height: 100vh;
}
